<%- include('../partials/header') %>
<div class="container">
  <h2 id="all-recipes">All Recipes</h2>

  <div class="row">
    <% recipes.forEach(function(r){ %>
    <div class="col s12 m6">
      <div class="card small blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= r.title %></span>
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>

        <div class="card-action">
          <!-- <%= r.title %> -->
          <a href="/recipes/<%= r._id %>">DETAILS</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>
