<%- include('../partials/header') %>
<div class="container">
  <h2>Recipe Details</h2>
  <div>Title:</div>
  <div><%= recipe.title %></div>
  <div>Description:</div>
  <div><%= recipe.description %></div>
  <div>Ingredients:</div>
  <div><%= recipe.ingredients %></div>
  <div>Instructions:</div>
  <div><%= recipe.instructions %></div>

<!-- if the owner.id === current user-->
  <% if (recipe.owner._id.equals(user && user._id))  { %> 
    <a class="btn" href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a>
    <!-- <button type="submit" class="btn">Edit Recipe</button> -->
    <% } %> 
 
  <br /><br />
  <h4>Comments</h4>
  <form
    id="add-comment-form"
    method="POST"
    action="/recipes/<%= recipe._id %>/comments"
  >
    <label>Comments:</label>
    <textarea name="content"></textarea>
    <button type="submit" class="btn">Add Comment</button>
    <!-- <input type="submit" value="Add Comment" /> -->
  </form>
  <% if (recipe.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% recipe.comments.forEach(function(c) { %>
      <tr>
        <td>
          <% if (c.user) { %> <%= c.user.name %> <% } else { %> Anonymous <% }
          %>
        </td>
        <td><%= c.content %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Comments Yet</h5>
  <% } %>
</div>
<%- include('../partials/footer') %>
